server:
  port: 8082

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        consumers: 5 # customizada // define 5 threads simultâneas
        dlq-consumers: 3 # customizada // define 5 threads simultâneas
        group: executores
        acknowledge-mode: auto
